<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Sign Up</h1>

    <p>You cannot register. You must sign in with an existing Pincanna Office365 account.</p>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
